<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>4044039807-o2pcbitfoim90aas0asa99gg7jpfmaom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4044039807-o2pcbitfoim90aas0asa99gg7jpfmaom</string>
	<key>API_KEY</key>
	<string>AIzaSyALmYoo1Fb9jWZQBM-oFgDK5JXY3h3DgvY</string>
	<key>GCM_SENDER_ID</key>
	<string>4044039807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.vluchtelingenwerk.RefugeeWalk.Refugeewalk</string>
	<key>PROJECT_ID</key>
	<string>integration-app-web</string>
	<key>STORAGE_BUCKET</key>
	<string>integration-app-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4044039807:ios:2223b0e1182951ba</string>
	<key>DATABASE_URL</key>
	<string>https://integration-app-web.firebaseio.com</string>
</dict>
</plist>